*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Arial", "Verdana", sans-serif;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

h1,
h2,
h3 {
  font-family: "Kiwi Maru", serif;
}

body {
  --background-color: white;
  --text-color: black;
  --accent-color-dark: darkblue;
  --accent-color-light: deepskyblue;
  --accent-text-color: black;
  --nav-link-active-color: limegreen;
  --nav-link-text-color: yellow;
  --nav-link-hover-color: hotpink;
  --selection-color: rgb(33, 145, 173);

  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

*::selection {
  background-color: var(--selection-color);
  color: var(--background-color);
  font-size: 200%;
}

.header {
  text-align: center;
  background-image: linear-gradient(
    45deg,
    var(--accent-color-dark),
    var(--accent-color-light)
  );
  padding: 2rem 1rem;
  position: relative;
  color: var(--accent-text-color);
}

.heading-group {
  font-size: 4rem;
}

.main-heading {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.top::after {
  content: " 🚀";
}

.hire-me {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.625rem;
  border-radius: 0.25rem;
  background-color: var(--background-color);
}

.header:hover .hire-me,
.header:focus-within .hire-me {
  opacity: 1;
  transform: scale(0.3);
}
@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }
}

.navigation {
  display: none;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

.nav-link {
  padding: 0.25rem 0.5rem;
  color: var(--nav-link-text-color);
  transition: background-color 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--text-color);
  background-color: var(--nav-link-hover-color);
}

.nav-link:focus {
  color: var(--text-color);
  background-color: var(--nav-link-hover-color);
  outline-style: dashed;
  outline-width: 3px;
}

.nav-link:active {
  color: var(--background-color);
  background-color: var(--nav-link-active-color);
}

@media screen and (min-width: 768px) {
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.main {
  padding: 1rem;
  margin: 0px auto;
  max-width: 60ch;
}

.main > * + * {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 5rem;
  }
}

.main > * {
  border-top: 0.125rem solid var(--accent-color-dark);
  padding: 0 1rem;
}

.main > *:first-child {
  border-top: none;
}

.article-heading {
  position: relative;
  left: -1rem;
}

.main-article {
  border-top: 0.125rem solid var(--accent-color);
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .main-article {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
  }

  .main-article-content {
    margin-top: 4rem;
  }
}

.main-article-heading {
  position: relative;
  left: -1rem;
}

.experience-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer {
  margin-top: 3rem;
  background-color: var(--accent-color-light);
  padding: 2rem;
}

.footer-text {
  text-align: center;
  margin: 0;
}

.footer-link {
  color: var(--text-color);
}
